#main-contacts {
    border: 1px solid #fff; /*для отмены схлопывания отступов*/
}
.blocks-contact {
    margin-top: 70px;
    margin-bottom: 120px;
}
.blocks-contact > div {
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 0 35px;
    font-size: 14px;
    background-image: url(../img/label-contact.png);
    background-position: center 48px;
    background-repeat: no-repeat;

    border-left: 1px solid #9c9c9c;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid rgb(156, 156, 156, 0.2);
    border-bottom: 1px solid rgb(156, 156, 156, 0.2);
}
@media (max-width: 575px) {
    .blocks-contact > div {
        margin-right: unset;
    }
}
.blocks-contact > div h3 {
    color:  #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 130px;
}
.blocks-contact > div span,
.blocks-contact > div p {
    font-size: 14px;
}
.blocks-contact > div span {
    font-weight: 500;
    color: #6c6c6c;
}
.blocks-contact > div p {
    font-weight: 700;
    color: #212121;
}
.blocks-contact > div p:last-of-type {
    font-weight: 300;
}


